@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

header {
  background-color: #7AB169;
  padding-bottom: 25px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 125px;
  color: #FFF;
  margin: 15px auto;
  padding: 20px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 75px;
  color: #7AB169;
  padding: 15px;
}

p {
  color: #3e423f;
  font-family: sans-serif;
  font-size: 16px;
}

li {
  color: #3e423f;
  font-family: 'Fjalla One', sans-serif;
  font-size: 27px;

}
